@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.container{
  width: 100%;
  min-height: 100vh;
  background: #fff;
  position: relative;
}

.title-container {
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 0;
}

.title-image {
  width: 100%;
  display: block;
  height: 300px;
}


.title {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 36px;
}

.title-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
.generate-container {
  background-color: #F2F2F2;
  border-radius: 5px;
  margin: -150px auto;
  padding: 20px;
  max-width: 800px;
  z-index: 999;
  position: relative;
}

.generate-header {
  text-align: center;
  margin-bottom: 20px;
}

.generate-header h2 {
  margin-bottom: 10px;
}

.generate-content {
  text-align: center;
  color: rgb(123, 123, 123);
  margin-bottom: 10px;
}

.generate-container select {
  width: 30%;
  padding: 10px; 
  border: none;
  border-radius: 5px;
  background-color: #1BBC9B; 
  color: white;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  outline: none;
  transform: translateX(0%);
}

.generate-container select option {
  background-color: #1BBC9B;
  color: white;
}

.container .mymap {
  margin-top: 100px;
  width: 80%; 
  height: 90vh;
  margin: 10% auto 5% auto;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.back-button {
  background-color: #007bff; /* Culoare de fundal albastru */
  color: #fff; /* Culoare text alb */
  padding: 8px 16px; /* Spatiere interioara */
  border: none; /* Fara contur */
  border-radius: 4px; /* Rotunjire margini */
  cursor: pointer; /* Pointer la hover */
  font-size: 16px; /* Dimensiune font */
  margin-top: 99px; /* Spațiul de sus */
}

.back-bottom-container {
  display: flex;
  justify-content: center; /* Aliniază orizontal elementele în centru */
  align-items: center; /* Aliniază vertical elementele în centru */
  margin-top: 20px; /* Spațiul de sus */
}
/* Stil pentru butonul "Go back" la hover */
.back-button:hover {
  background-color: #0056b3; /* Culoare de fundal albastru mai inchis */
}

.store-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box; 
  
}

.store-card {
  border: 1px solid #ccc;
  padding: 16px 16px;
  margin: 0% 2%;
  width: 250px; /* Ajustează dimensiunea cardurilor pentru ecrane mici */
  margin-bottom: 20px;
justify-content: left;
 
  
}
.store-card-info{
  height: 150px;
  justify-content: center;
  
}
.locatie{
  height: 15px;
  width: 15px;
  float: left;

}
.p1{
  margin-left: 20px;
}
.locatie img{
  height: auto;
  width: 100%;

  
}
.price{
  padding-top: 3%;
}


.img-card{
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px 10px;
  width: 100%;
}
.store-card-img {
  text-align: center;
  display: flex;
  justify-content: center;
  box-sizing: border-box; 
  height: 120px;
  width: auto;
  
}
.store-card-img img{
  width: 100%;
  height: auto;
}

.details-button-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  
  
 /* margin-top: auto; /* Push the button to the bottom */
}/* Stil pentru textul adițional */

.bottom-container {
  display: flex;
  margin-left: 10px; /* Spațiul între buton și text */
  align-items: center;
  justify-content: center;
}


/* Details button */
.details-button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: flex-end;
  /* Add any additional styling for the button */
}

/* Details button hover effect */
.details-button:hover {
  background-color: #0056b3;
  /* Add any additional hover styling */
}

.modal {
display: none;
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0,0,0,0.4);
}

.modal-content {
background-color: #fefefe;
margin: 15% auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
}
.titlu{
  text-align: center;
  padding-bottom: 25px;
  text-decoration: underline;
}
.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}
.image-gallery {
  display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
}
.image-gallery p{
  margin-left: 20px;

}


.image-gallery img {
  width: 250px; /* Asigură că imaginea ocupă întreaga lățime a containerului */
  height: 250px; /* Permite imaginii să-și mențină proporțiile */
  max-height: 250px; /* Limitează înălțimea maximă a imaginii pentru a se încadra în spațiul dedicat */
  object-fit: cover; /* Ajustează modul în care imaginea este poziționată în container */
  border-radius: 30px;
  display: flex;
  box-sizing: border-box; 
  margin: 10px 10px;
  
}



.text-gallery p {
  margin-bottom: 20px; 
}

.details-button-container {
  text-align: center; /* Aliniere butoane în centru */
}

.map-controls {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  
}

.map-controls button {
  background-color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

}

.map-controls button:hover {
  background-color: #f0f0f0;
}
